/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.container {
  font-size: var(--fontSize);
  padding: 2em;
  color: #58666e;
  margin: 0 0 .5em 0;
  width: 100%;
  max-width: 100%;
}

@media all and (max-width: 42.5em) {
  .container {
    padding: 2em .625em;
  }
}

.wrapper {
  border: 1px solid #f7f7f7;
  padding: 1.875em;
  background-color: #fff;
}

@media all and (max-width: 42.5em) {
  .wrapper {
    padding: 1.875em .625em;
  }
}

.title {
  font-size: 1.2em;
  font-weight: 300;
  margin-top: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  flex-wrap: wrap;
}

@media all and (max-width: 42.5em) {
  .header {
    padding: 0 .625em;
  }
}

.headerTitle {
  font-size: 1.25em;
  font-weight: 300;
  margin: 0;
}

.fetch,
.error {
  text-align: center;
}

.fetchTitle,
.errorTitle {
  font-size: 1.5em;
  font-weight: 300;
  text-shadow: 0 1px 1px #0003;
  margin-top: 10px;
}
