{
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
  },
  "extends": [
    "eslint:recommended",
    "prettier",
    "prettier/react",
    "eslint-config-i-am-meticulous/react",
  ],
  "globals": {
  },
  "plugins": [
    "prettier",
    "react"
  ],
  "rules": {
    "comma-dangle": 0,
    "curly": [2, "all"],
    "eol-last": "error",
    "eqeqeq": [2, "smart"],
    "keyword-spacing": 2,
    "linebreak-style": [2, "unix"],
    "new-cap": [2, {"newIsCap": true, "capIsNew": false}],
    "no-cond-assign": 0,
    "no-console": ["error", { "allow": ["warn", "error", "log", "debug"] }],
    "no-spaced-func": 2,
    "no-use-before-define": 0,
    "no-unused-vars": ["error", { "args": "none" }],
    "no-useless-concat": "error",
    "one-var": [2, "never"],
    "prefer-template": "error",
    "quotes": ["error", "double"],
    "semi": [2, "always"],
    "space-before-blocks": 2,
    "space-before-function-paren": [2, "never"],
    "space-infix-ops": 2,
    "space-unary-ops": 2,
    "react/no-did-mount-set-state": 0,
    "react/jsx-no-bind": [
      "error",
      {
        "ignoreRefs": true,
        "allowArrowFunctions": true,
        "allowFunctions": true,
        "allowBind": true
      }
    ],
    "import/max-dependencies": [
        "error",
        {
          "max": 25
        }
    ],
    "react/jsx-no-literals": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false,
        "trailingComma": "all",
        "bracketSpacing": true,
        "jsxBracketSameLine": true,
        "parser": "babylon"
      }
    ]
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
