/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
:root {
  --fontSize: var(--fontSize);
  --marginLeftComponent: var(--widthMenu);
  --paddingTop: var(--heightHeader);
  --paddingLeft: var(--widthMenu);
}

.component {
  font-size: var(--fontSize);
  overflow-x: hidden;
  flex: 1;
  padding: calc(var(--paddingTop) + 1em) 2em 2em calc(var(--paddingLeft) + 1em);
}

.isCollapase {
  padding-left: 0;
}
