/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --fontFamily: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  --fontSize: 1rem;
  --colorMain: #ffc900;
  --colorDark: #404040;
  --widthMenu: 16em;
  --heightHeader: 4.75em;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-family: var(--fontFamily);
  font-weight: 400;
  text-size-adjust: none;
  background-color: #fff;
  color: var(--colorDark);
}

main {
  display: flex;
  min-height: 100vh;
}

html {
  box-sizing: border-box;
  border-collapse: collapse;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* { border-collapse: inherit; }

a {
  text-decoration: none;
  color: inherit;
}
