/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --fontSize: var(--fontSize);
  --marginLeftComponent: var(--widthMenu);
  --paddingTop: var(--heightHeader);
  --paddingLeft: var(--widthMenu);
}

.component {
  font-size: var(--fontSize);
  overflow-x: hidden;
  flex: 1;
  flex-direction: column;
  padding: var(--paddingTop) 0 0 var(--paddingLeft);
  background-color: #f6f8f8;
  will-change: padding;
  transition: padding .16s linear 0s;
}

@media all and (min-width: 42.51em) {
  .isCollapsed {
    padding-left: 1em;
  }
}

@media all and (max-width: 42.5em) {
  .isCollapsed {
    padding-left: 0;
  }
}
