/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --fontSize: var(--fontSize);
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.card {
  flex-direction: row;
}

/* issue */
.issue {
  width: 100%;
  font-size: var(--fontSize);
  padding: 0 1em;
}

.issueContainer {
  border: 1px solid #e9e9e9;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  border-color: rgba(0, 0, 0, .2);
}

.issueTitle {
  font-size: .875em;
  margin: 0;
  border-bottom: 1px solid #e9e9e9;
  padding: 1em;
  max-width: 100%;
}

.issueLink {
  color: #484848;
  text-decoration: none;
  word-break: break-all;
}

.issueLink:hover {
  text-decoration: underline;
}

.issueMetaList {
  font-size: .75em;
}

.issueWrapper {
  padding: 0 1.2em;
}

.issueFooter {
  display: flex;
  font-size: .75em;
}

/* card */
.issue.card {
  padding: 1em;
}

@media all and (min-width: 360px) {
  .issue.card {
    width: 33%;
    min-width: 320px;
  }
}

.issueInfos.card {
  padding: 1.2em 0;
}

.issueFooter.card {
  padding: 0 0 1.2em 0;
  justify-content: space-between;
}

.list.card {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

/* lists */
.issueMetaList.list {
  display: flex;
}

.issueWrapper.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.issueFooter.list {
  margin: 0 0 0 .8em;
}

.issueLabelListName + .issueLabelListName {
  margin: 0 0 0 .4em;
}
